{% assign image = page.header | default: site.header %}
{% assign image_left = page.header_left | default: site.header_left %}
{% assign dark = page.header-dark | is_nil: site.header-dark | is_nil: true %}

{% assign svg = "images/sagres_logo_wb.svg" | file_exists %}
{% assign png = "images/sagres_logo_wb.png" | file_exists %}
{% assign jpg = "images/sagres_logo_wb.jpg" | file_exists %}
{% assign logo = svg | default: png | default: jpg | default: nil %}

{% assign svg = "images/sagres_logo_hor_wb.svg" | file_exists %}
{% assign png = "images/sagres_logo_hor_wb.png" | file_exists %}
{% assign jpg = "images/sagres_logo_hor_wb.jpg" | file_exists %}
{% assign logo_hor = svg | default: png | default: jpg | default: nil %}

<header
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  {% if page.url == "/" %}
    class="background"
    style="--image: url('{{ image | relative_url | uri_escape }}')"
    data-big
  {% else %}
    class="background"
    style="--image: url('{{ image_left | relative_url | uri_escape }}')"
  {% endif %}
>
  <a href="{{ "/" | relative_url }}" class="home">
    {% if logo %} 
      {% if page.url == "/" %}

        <span class="logo">
          {% if svg %}
            {{ svg | file_read }}
          {% else %}
            <img src="{{ logo | relative_url | uri_escape }}" alt="logo">
          {% endif %}
        </span>

      {% else %}

        <span class="logo">
          {% if svg %}
            {{ svg | file_read }}
          {% else %}
            <img src="{{ logo_hor | relative_url | uri_escape }}" alt="logo">
          {% endif %}
        </span>

      {% endif %}

    {% endif %}
    {% if site.logo-text != false %}
      <span class="title-text" data-tooltip="Home">
        {% if site.title and site.show-title != false %}
          <span class="title">{{}}</span>
        {% endif %}
        {% if site.subtitle and site.show-subtitle != false %}
          <span class="subtitle">{{ site.subtitle }}</span>
        {% endif %}
      </span>
    {% endif %}
  </a>

  <input class="nav-toggle" type="checkbox" aria-label="show/hide nav">

  <nav>
    {% assign pages = site.pages
      | where_exp: "page", "page.nav"
      | sort: "nav.order"
    %}
    {% for page in pages %}
      {% if page.nav %}
        <a
          href="{{ page.dir | relative_url | uri_escape }}"
          data-tooltip="{{ page.nav.tooltip | xml_escape }}"
        >
          {{ page.title }}
        </a>
      {% endif %}
    {% endfor %}
  </nav>
</header>
